*{box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body {
    
    background-color:rgb(183, 177, 177);
}
h2 {
    max-width: 100%;
    
    margin-left: 95px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(135, 111, 156);
}
header{
    max-width: 100%;
    width: 100%;
    height: 40px;
    background-color: #333;
    padding: 1px ;
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    transition: .2s;
    position: fixed;
}

.logo {
    max-width: 100%;
    padding-left: 340px;
    height: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blueviolet;
}

.tit-logo {
    max-width: 100%;
    margin-left: 10px;
}
nav ul {
    max-width: 100%;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    max-width: 100%;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    
}

nav ul li a {
    max-width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#fff;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #555;
}

home{
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: hidden;
    position: relative;
}


.home .content {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

.home .content h1 {
    max-width: 100%;
    font-size: 35px;
    color: #fff;
    text-shadow: 0 .3rem .5rem rgba(0,0,0, .3);
    text-transform: uppercase;
}

.video-container {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 5px;
    width: 350px;
    
}

.video-container video {
    max-width: 100%;
    width: 350px;
    height: 350px;
}


.conteiner {
    max-width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.image-left, .image-right {
    max-width: 100%;          
    flex: 1;
    
    
}
.image-right {
    
    padding-left: 100px;
}

.text-center {
    max-width: 100%;
    flex: 2;
    text-align: center;
}
.tit-retazo {
    max-width: 100%;
    font-size: 30px;
    margin-top: -80px;
}

.parr-text {
    max-width: 100%;
    margin-top: 90px;
    padding-left: 50px;
    text-align: center;
    font-size: 25px;
}

.conteiner2 {
    max-width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 100px;
}

.title {
    max-width: 100%;
    font-size: 25px;
    padding-left: 30%;
    
}

.img-retrato {
    padding-left: 160px;
    
}

.paragraph {
    max-width: 100%;
    text-align: center;
    font-size: 25px;
}



.conteiner-3 {
    max-width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    
    
}

.text-t {
    max-width: 100%;
    text-align: center;
    font-size: 25px;
    padding-right: 80px;
}


footer{
    max-width: 100%;
    scroll-padding-top: 50px;
    padding: 30px;
    text-align: center;
    background-color:#e4dada
}

/* Galeria */


*.astro {
    max-width: 100%;
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
    width: 20%;
    height: 100vh;
    background-image: url('../img/shalom-reco2.jpg');
    background-size: cover;
    background-position: left top;
    background-size: 100% auto;
    
    background-repeat: no-repeat;
}


.animat-logo {
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
    object-fit: cover;
    pointer-events: none;
    z-index: 1;
}

audio {
    position: absolute;
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);
}

/*carousel*/

.carrouselCont {
    
    background-color: black;
    width: 80%;
    max-width: 500px;
    height: 80%;
    max-height: 700px;
    margin-top: 190px ;
    margin-left: 550px;
    margin-bottom: 300px;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fff,
                0 15px 50px;
    position: absolute;

}

.carrouselCont img {
    max-width: 100%;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.botones {
    max-width: 100%;
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.botones:hover {
    background: #fff;
}

.atras{
    max-width: 100%;
    left: 10px;
}

.adelante {
    max-width: 100%;
    right: 10px;
}

#footer-video {
    max-width: 100%;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

/*formulario*/
.formulario__titulo {
    max-width: 100%;
    margin-top: 80px;
    padding-left: 93px;
    text-align: center;
    padding-right: 100px;
    color:rgb(67, 52, 83);
    text-shadow: 2px 2px 4px rgba(0,0,0, .3);
   
}
.formulario{
    max-width: 100%;
    display: flex;
    flex-direction:column;
    gap: 5px;
    align-items: center;
}

textarea {
    max-width: 100%;
    border: 1px solid rgb(187, 201, 157);
    border-radius: 0px 10px 10px 10px;
}

#warning {
    max-width: 100%;
    border: 1px solid rgb(215, 86, 138);

}


.error_msg {
    max-width: 100%;
    border: 1px solid black;
}

#dev {
    max-width: 100%;
    display: flex;
    flex-direction:column;
    gap: 5px;
    align-items: center; 
}


@media only screen and (max-width:789px){
    h2, header{
        min-width: 50%;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }
    .logo{
        display: none;
    }
    .tit-logo{
        min-width: 50%;
    }
    nav ul, nav ul li, nav ul li a, nav ul li a:hover{
        min-width: 50%;
        align-items: center;
    }
    home{
        min-width: 50%;
    }
    .home .content{min-width: 50%;}
    .home .content h1{min-width: 50%;}
}

